* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "Lexend", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background-color: #f5f3ee;
  flex-direction: column;
}
/* logo */
header img {
  height: 10em;
}
header ul {
  display: flex;
  justify-content: space-evenly;
}
/* nav bar */
header ul li {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 8px;
  border-bottom: transparent solid 4px;
  transition-duration: 0.5s;
}

header ul li:hover {
  border-bottom: #d0947c solid 4px;
}

header ul li a {
  text-decoration: none;
  color: #d0947c;
}
/* zoekbar en afbeelding*/
main form {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #626262;
}
/* defenitiefoto */
main form img {
  display: flex;
  height: 30vw;
}
/* zoekbar */
main form input {
  position: absolute;
  top: 46%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 3vw;
  border-radius: 10vw;
  border-color: #d0947c;
  /* van: Daan Zwarthoed */
}
/* quote */
main h2 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 3em;
  color: #d0947c;
  font-style: normal;
}
/* ul cards */
main ul {
  flex-wrap: wrap;
  display: flex;
}
/* cards */
main ul li {
  display: flex;
  justify-content: center;
  width: 50%;
  font-weight: bold;
}
/* cards link */
main ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f3ee;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  margin: 30px;
  text-decoration: none;
}
/* hover cards */
main ul li a:hover {
  border-style: solid;
  border-color: #d0947c;
  transition-duration: 0.5s;
}

main ul li a img {
  height: 95%;
  width: 30vw;
  margin: 30px;
  margin-top: 10px;
  border-radius: 1vw;
}
main ul li a:hover img {
  opacity: 80%;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

main ul li a p {
  font-size: 1em;
  text-align: center;
  margin-bottom: 30px;
}
/* geen homepagina */
main > article.how {
  background-image: url("../images/fotosbovenin/how.png");
}
/* <!-- https://www.google.com/search?q=backpacker&rlz=1C5CHFA_enNL962NL962&sxsrf=AOaemvIvRVfLNlMUyh1ujMlA6FvoaOzyrw:1639822688219&source=lnms&tbm=isch&sa=X&ved=2ahUKEwimnM3Gj-30AhXDPOwKHRYSDKIQ_AUoAXoECAMQAw&biw=1152&bih=609&dpr=2#imgrc=VgRQZ5sK85Vv_M -->  */
main > article.mustsee {
  background-image: url("../images/fotosbovenin/mustsee.png");
}
main > article.flist {
  background-image: url("../images/fotosbovenin/flist.png");
}

main > article {
  background-size: cover;
  height: 30em;
  background-position: center;
}

main h1 {
  font-weight: bold;
}

main h2 {
  font-style: italic;
}

main h3 {
  margin: 30px;
}

main p {
  margin: 10px;
}
/* 1. balk tekst en afbeelding */
section {
  display: flex;
  flex-direction: row;
  background-color: peachpuff;
  border-radius: 1vw;
  margin: 2em;
  overflow: hidden;
}

section h2,
h3,
h4 {
  color: #fff;
}
section img {
  border-radius: 1vw;
  height: 300px;
  width: auto;
}

/* footer */
footer {
  position: relative;
  display: flex;
  justify-content: end;
  justify-content: space-evenly;
  background-color: #a56953;
}
/* icons sm */
footer > nav ul {
  display: flex;
  justify-content: space-evenly;
}

/* geen puntjes bij icon */
footer ul li {
  display: flex;
}
/* grootte icon */
footer ul li img {
  height: 25px;
  margin-top: 2em;
  margin-left: 0.75em;
  transition-duration: 0.2s;
}
/* hover icon*/
footer ul li img:hover {
  height: 30px;
}
/* 2021, contact, sm parent*/
footer > ul {
  display: flex;
  justify-content: flex-end;
  margin-top: 1px;
  margin: 2em;
}
/* 2021, contact, sm */
footer > ul li {
  display: flex;
  justify-content: flex-end;
  margin: 1em;
  color: #fff;
}
/* nieuwsbrief etc*/
footer > a p {
  align-items: flex-end;
  margin: 2em;
  color: #fff;
}
/* geen lijn onder nieuwsbrief etc */
footer > a {
  text-decoration: none;
}

/* logo onderin */
footer > img {
  height: 5em;
  position: absolute;
  top: 25%;
  right: 3%;
}

/* tekst styling */

strong {
  font-style: bold;
}
em {
  font-style: italic;
}
