* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "Lexend", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* achtergrondkleur, afbeelding midden */
header {
  display: flex;
  justify-content: center;
  background-color: #f5f3ee;
  flex-direction: column;
}

/* lijst naast elkaar */
header ul {
  display: flex;
  justify-content: space-evenly;
}

/* logo */
header img {
  height: 10em;
  margin: 1em;
}

/* nav bar */
header ul li {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 8px;
  border-bottom: transparent solid 4px;
  transition-duration: 0.5s;
  position: sticky;
  top: 0;
}

header ul li:hover {
  border-bottom: #d0947c solid 4px;
}

header ul li a {
  text-decoration: none;
  color: #d0947c;
}

/* END HEADER */
/* zoekbar en afbeelding*/
main form {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #1b1b1b;
}

/* defenitiefoto */
main form img {
  display: flex;
  height: 30vw;
}

/* zoekbar */
main form input {
  position: absolute;
  top: 46%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 3vw;
  border-radius: 10vw;
  border-color: #d0947c;
  /* van: Daan Zwarthoed */
}

/* quote en 'blog'*/
main h2 {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1.75em;
  color: #d0947c;
  font-style: italic;
}

/* BEGIN CARDS */
/* ul cards (2 op een rij) */
main ul {
  flex-wrap: wrap;
  display: flex;
}

/* cards (puntjes en center*/
main ul li {
  display: flex;
  justify-content: center;
  width: 50%;
  font-weight: bold;
}

/* cards link (achtergrondkleur, fotoafmeting, tekst */
main ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f3ee;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  margin: 30px;
  text-decoration: none;
  color: #9ab4a9;
}

/* hover cards */
main ul li a:hover {
  border-style: solid;
  border-color: #d0947c;
  transition-duration: 0.5s;
}

/* foto grootte */
main ul li a img {
  height: 95%;
  width: 30vw;
  margin: 30px;
  margin-top: 10px;
  border-radius: 1vw;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
  opacity: 95%;
}

/* img hover */
main ul li a:hover img {
  opacity: 100%;
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

/* card hoger, lager door tekst */
main ul li a p {
  margin-bottom: 30px;
}

/* END CARDS EN #HOME */

/* title huidige pagina */
main h1 {
  color: #9ab4a9;
  margin: 50px;
  margin-left: 9em;
  text-decoration: underline;
  font-weight: bold;
}

/* achtergrond foto's */
main > article.how {
  background-image: url("../images/fotosbovenin/how.png");
}

main > article.mustsee {
  background-image: url("../images/fotosbovenin/mustsee.png");
}

main > article.flist {
  background-image: url("../images/fotosbovenin/flist.png");
}

/* intro text */
main > article {
  background-size: cover;
  height: 30em;
  background-position: center;
  color: #fff;
}

/* intro text title */
main > article h3 {
  margin-top: 4em;
  margin-left: 15em;

  font-weight: bold;
}

/* intro text text */
main > article p {
  margin-top: 2em;
  margin-left: 15em;
  margin-right: 15em;
}

/* 1. balk teksttitel en afbeelding */
section {
  display: flex;
  flex-direction: row;
  background-color: #cddad4c9;
  border-radius: 1vw;
  margin: 2em;
  overflow: hidden;
}

/* text in section */
section > article > h3 {
  margin-top: 2em;
  margin-left: 4em;
  color: #1b1b1b;
}

section > article > p {
  margin: 2em;
  color: #4b4b4b;
  font-size: 0.3cm;
}

/* foto in section */
section img {
  border-radius: 1vw;
  height: 300px;
  width: auto;
}

/* FOOTER*/
footer {
  position: relative;
  display: flex;
  justify-content: end;
  justify-content: space-evenly;
  background-color: #a56953;
}

/* icons sm */
footer > nav ul {
  display: flex;
  justify-content: space-evenly;
}

/* geen puntjes bij icon */
footer ul li {
  display: flex;
}

/* grootte icon */
footer ul li img {
  height: 25px;
  margin-top: 3em;
  margin-left: 0.75em;
  transition-duration: 0.2s;
}

/* hover icon*/
footer ul li img:hover {
  height: 30px;
}

/* 2021, contact, sm parent*/
footer > ul {
  display: flex;
  justify-content: flex-end;
  margin-top: 1px;
  margin: 2em;
}

/* 2021, contact, sm */
footer > ul li {
  display: flex;
  justify-content: flex-end;
  margin: 1em;
  color: #fff;
}

/* nieuwsbrief etc*/
footer > a p {
  align-items: flex-end;
  margin: 2em;
  color: #fff;
}

footer > a p:hover {
  text-decoration: underline;
}

/* geen lijn onder nieuwsbrief etc */
footer > a {
  text-decoration: none;
}

/* logo onderin */
footer > img {
  height: 5em;
  position: absolute;
  top: 25%;
  right: 3%;
}

/* inthemakingpage afbeeldingsgrootte */
body > img {
  height: auto;
  width: 35em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 50%;
}

/* tekst styling */
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
